.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
tsconfig.json
esbuild.js
**/*.map
**/*.ts
!dist/**
.ralphex/**
plan.md
coverage/**
*.vsix
jest.config.js
**/*.test.*
.claude/**
assets/icon.svg
